[Desktop Entry]
Name=Ryno
Comment=Ryno terminal UI for managing sandboxes and gateways
Exec=ryno.term
Icon=${SNAP}/meta/gui/icon.png
Terminal=true
Type=Application
Categories=Development;
StartupNotify=true
